.Cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.Cart__headings {
  font-size: 3.5rem;
  padding-bottom: 3rem;
}
.Cart__total {
  padding: 3rem 0;
  font-size: 3rem;
}
