.CartLink {
  position: relative;
  display: block;
  padding: 1rem;
  margin-right: 3rem;
  color: white;
  text-decoration: none;
}

.CartLink__icon {
  height: 3rem;
  width: 3rem;
}
.CartLink__counter {
  position: absolute;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 100%;
  background: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  bottom: 0;
  right: 3rem;
  line-height: 1rem;
  padding: 0.5rem 0 0;
  border: 1px solid black;
}
