.CartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35rem;
  padding: 1rem 2rem;
  background: linear-gradient(35deg, rgb(24, 96, 97), rgb(32, 175, 156));
  border-radius: 0.5rem;
  color: white;
  margin-bottom: 2rem;
}
.CartItem__icon {
  width: 10rem;
}
.CartItem__info {
  font-size: 1.6rem;
}
.CartItem__info > p {
  padding-bottom: 1rem;
}
.CartItem__quantity {
  display: flex;
  align-items: center;
}
.CartItem__quantity > p {
  padding: 0 2rem;
  font-size: 2rem;
}
.CartItem__price {
  font-size: 2.3rem;
}
