.Error {
  height: 100vh;
  width: 100%;
  color: white;
  background-color: black;
  background-image: url("../images/wallpapersden.com_76859-1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.Error__heading {
  font-size: 3.5rem;
  padding: 10rem 0 0 5rem;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(255, 72, 0),
    0 0 0.2em rgb(255, 60, 0);
}
.Error__home-link {
  color: white;
  padding: 3rem 0 0 8rem;
  text-decoration: underline;
  font-size: 1.6rem;
  cursor: pointer;
}
.Error__home-link:hover {
  opacity: 0.5;
}
