@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rubik:wght@400;600;700&display=swap");
html {
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 400;
  font-family: "Luckiest Guy", monospace;
}
:root {
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #cfd9df, #e2ebf0);
}
#root {
  height: inherit;
  width: inherit;
}
.Shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
a {
  text-decoration: none;
}
.layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  border: 4px solid black;
  font-family: inherit;
  padding: 0 2.7rem;
  line-height: 3.6rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: white;
  display: block;
}

.btn--update-quantity {
  padding: 0.5rem;
  line-height: 1.6rem;
  font-size: 2rem;
  border-width: 3px;
}
.btn:hover {
  background-color: black;
  color: white;
  transform: skewX(-5deg);
}
.link {
  font-size: 1.3rem;
  color: white;
  margin: 2rem 1rem;
}
.link:hover {
  opacity: 0.5;
  text-decoration: underline;
}
