.LoadingSpinner {
  height: 5rem;
  width: 5rem;
}
.LoadingSpinner__spinner {
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
